.CircleWrapper {
    position: relative;

}

.BgCircleImage {
    width: 424.16px;
    height: 424.16px;
    background-color: #FFE7D6;
    border-radius: 50%;
    z-index: 1000;
}

.WomenImagebg {
    border-radius: 50%;
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 15%;
    left: 4.5%;
    
}
.womenImage {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 15%;
    left: 4.5%;
}