.circle{
    background-image: url("../Assests/background/stepper.png");
    background-repeat: no-repeat;
    background-position:0% 50%;
    width: 100%;
}
.CircleWrapper {
    position: relative;

}

.BgCircleImage {
    width: 424.16px;
    height: 424.16px;
    background-color: #FFE7D6;
    border-radius: 50%;
    z-index: 1000;

}

.WomenImagebg {
    border-radius: 50%;
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 15%;
    left: 4.5%;
    
}
.womenImage {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 15%;
    left: 4.5%;
}
.TimeWrapper{
    background-color: #C4C4C4;
    height: 300px;
    width: 100%;
    position: relative;
}
.ScheduleDesc{
    width: 100%;
    text-align: justify;
}
.ScheduleDesc p{
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 156.5%;
    /* or 28px */
    
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #000000;
}

.ScheduleDesc a{
    font-family: 'Avenir LT Std';
font-style: normal;
font-weight: 300;
font-size: 22.78px;
line-height: 160%;
/* or 36px */

font-feature-settings: 'tnum' on, 'lnum' on;

}
.Times {
    padding: 7px 11px 7px 15px;
    border: 1px solid rgba(77, 77, 77, 0.6);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    position: absolute;
    top: 50% ;
    right:0px
}
.YogaBanner{
max-width: 400px;
position: relative;
}
.Yogaday {
    position: absolute;
    top: 9rem;
    left: 2rem;
    color: #ffffff;
}
.ScheduleTittle{

font-family: 'Avenir LT Std';
font-style: normal;
font-weight: 300;
font-size: 32.443px;
line-height: 39px;

font-feature-settings: 'tnum' on, 'lnum' on;

color: #000000;
}
.swiper-button-next {
    background-image: url("../Assests/Icons/rightarrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .swiper-button-prev{
    background-image: url("../Assests/Icons/leftArrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

  }
  .swiper-button-next, .swiper-button-prev {
    top: 2rem !important;

}
  .swiper-button-prev, .swiper-rtl .swiper-button-next {

    left: 28rem !important;
    right: auto;
}
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
.joinbtn{

font-weight: 300;
font-size: 22.78px;
line-height: 160%;
/* or 36px */

font-feature-settings: 'tnum' on, 'lnum' on;

/* GradientText */

background: linear-gradient(90.19deg, #F24397 0.17%, #F64C3B 105.5%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
@media (max-width: 575.98px) { 
.YogaBanner{
    max-width: 320px;
    }
    .Yogaday {
        position: absolute;
        top: 7rem;
        left: 1.8rem;
        color: #ffffff;
    }
     }